T5-6/ej1-jorgePradillo.dtd

<!-- Jorge Pradillo Hinterberger -->
<!ELEMENT elemento (figura,mascota,centro_educativo,abono)>
<!ELEMENT figura (triangulo+)>
<!ELEMENT triangulo EMPTY>
<!ATTLIST triangulo base NMTOKEN "1">
<!ELEMENT mascota EMPTY>
<!ATTLIST mascota numero NMTOKEN #REQUIRED>
<!ELEMENT centro_educativo EMPTY>
<!ATTLIST centro_educativo nombre CDATA #FIXED "IES Gran Capitán">
<!ELEMENT abono (#PCDATA)>
<!ATTLIST abono tipo (cheque|tarjeta|efectivo) "cheque">