T5/T5-3/Actividades_XSD/Ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="casa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="puertacerrada" type="xs:boolean"  default="false"/>
                <xs:element name="ventanaabierta" type="xs:boolean" fixed="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>